@charset "utf-8";

/* googleフォント読み込み */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

/* -------全体のスタイル -------------------------------*/
* {
  box-sizing: border-box;
}


body {
  background: #f5f5f5;
}

/* 画面横幅を決めるためのdiv*/
#screen_wrapper_y {
  width: 375px;
  height: 800px;
  margin: 0 auto;
  background-color: #fff;
}

/* spaceタイトルヘッダー */
#header_section_y {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
}

/* 画面左上タイトルロゴ */
#main_h1_y{
  font-family: 'Play', sans-serif;
  margin-left: 20px;
  font-size: 48px;
  width: 100%;
}

/* 画面右上歯車ボタン */
#setting_btn_y {
  font-size: 32px;
}

#footer_section_y {
  position: fixed;
  bottom: 0;
  z-index: 10;
}

#link_btn_y {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 375px;
  height: 70px;
  background-color: lightgrey;
}

#link_btn_y li {
  font-size: 32px;
}

