@charset "utf-8";

/* -------全体のスタイル -------------------------------*/
* {
  box-sizing: border-box;
}

/* リンクのスタイルを初期化 */
a:link,
a:visited,
a:hover, 
a:active {  
    text-decoration: none;  
    color: #000;  
} 
/* リストの点を消す */
li {
  list-style: none;
}
/* ボタンのスタイルをリセット */
button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}

/* -------shopping_list 部分 ------------------------------*/
.wrapper_y {
  width: 375px;
  height: 800px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

/* ショッピングリスト全体 */
#shopping_frame_y {
  width: 90%;
  padding-top: 32px;
  padding-left: 32px;
  color:#5b5b5b;
}

/* ショッピングリスト全体 */
#shopping-title_y {
  display: flex;
  margin-bottom: 24px;
  font-size: 20px;
}

/* ショッピングリスト入力欄 */
#shopping_input_y {
  width: 200px;
  height: 32px;
  font-size: 16px;
} 

/* ショッピングリスト追加ボタン */
#shopping_add_y {
  background: white;
  width: 32px;
  height: 32px;
  margin: 0;
}

/* ショッピングリストのデータクリアボタン */
#shoppingdata_clear_y {
  background: white;
  height: 32px;
  width: 48px; 
  margin-left: 24px;
}

/* todoリスト部分 */
#shopping_output_y div{
  background: white;
  margin-top: 12px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* チェックボタン */
.check_y {
  height:24px;
  width: 24px;
  text-align: center;
}

/* shoppinglistのゴミ箱ボタン */
.delete_btn_y {
  height: 32px;
  width: 32px;
  font-size: 24px;
  color: gray;
  background-color:#f5f5f5;
}

/* ----------------メンバー部分 -----------------------------*/

/* メンバー紹介全体 */
#member_list_y {
  width: 90%;
  padding-top: 12px;
  color:#5b5b5b;
}

#member_contents_y {
  width: 90%;
  height: 500px;
  margin: 10px auto;
}

#member_contents_y h2 {
  margin-bottom: 24px;
}

.member_container_y {
  margin-bottom: 16px;
}

/* メンバープロフィール画像 */
.member_img_y {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #5b5b5b;
  margin-right: 24px;
}

/* 画像と名前を横並びにする */
.member_face_y {
  display: flex;  
  align-items: center;
  margin-bottom: 4px;  
}

/* ----------------------------設定画面部分 ---------------------------------------*/
#setting_contents {
  color:#5b5b5b;
  padding:24px;
}

#setting_contents ul {
  margin-top: 48px;
}

#setting_contents li {
  margin-bottom: 8px;
}

/* -----------------------------フッター部分 ---------------------------------------*/

#footer_section_y {
  position: fixed;
  bottom: 0;
  z-index: 10;
}

#link_btn_y {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 375px;
  height: 70px;
  background-color: #bbdbf3;
}

#link_btn_y li {
  font-size: 32px;
  color:#5b5b5b
}

span {
  font-weight: bold;
}
