/* 内田担当エリアのcssを書いています */
/* お知らせボックスに関するcss */
/* お知らせボックス 全体のdiv */
.info_container{
    /* width: 40%; */
    padding:5px;
    background-color: burlywood;
    border: 1px solid #eee;
}
/* お知らせボックス 個別の情報 */
.info_box li {
    background-color: white;
    /* padding:5px; */
    margin: 5px;
    /* margin-left:5px;
    margin-right:5px; */
}

/* 裏ページ お知らせボックスの作成画面 */
.info_input{
    /* width: 40%; */
    padding:5px;
    background-color: burlywood;
    border: 1px solid #eee;
}

/*自分の仕事 表示ボックス*/
.mywork_container {
    /* width: 40%; */
    background-color: lightgreen;
}

.work_setting {
    /* width: 40%; */
    background-color: lightgreen;
}
