/* googleフォント読み込み */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');


body{                              
    font-family: arial, sans-serif;
    font-size: 10pt;
    line-height: 15pt;
    color:#5b5b5b;
    margin: 0;
  }
                                                                  /*marginでボックスを移動させる
  /*---------- vertical tab nav */
  #wrapper {
  width: 375px;
  height: 800px;
  margin: 0 auto;
  background-color: #f5f5f5;
  text-align: center;
  }

  #header_t{
    margin-top: 0;
    padding-top: 40px;
    font-size: 50px;
    margin-bottom: 100px;
    font-family: 'Play', sans-serif;
  }
  
  #vertical_tab_nav ul{
    margin-top: 0 auto;
    padding: 0px;
    list-style: none;
    overflow: hidden;
    width: 90%;
    margin-left: 20px;
    border-radius: 10px 0 0 10px;
    background: #bbdbf3;
    text-align: left;
  }

  #vertical_tab_nav li a{                
    display: block;
    font-size: 14pt;
    color: #fff;
    text-decoration: none;
    padding: 7%;
    background: #57cac9;
  }

  #vertical_tab_nav li a.selected{
    background: #fff;
    color: rgb(14, 12, 131);
  }

  #vertical_tab_nav div{
    width:64%;
    min-height: 500px;
    padding: 10px 3% 3% 3%;
    border-radius: 0 10px 10px 0;
  }

  #vertical_tab_nav div article{
    display: none;
    margin: 0px;
    color: #555;
    
  }
  #vertical_tab_nav div article p{
    margin: 0px 0px 20px 0px;
  }
  details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

/* -----------------------------フッター部分 ---------------------------------------*/

#footer_section_y {
  position: fixed;
  bottom: 0;
  z-index: 10;
}

#link_btn_y {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 375px;
  height: 70px;
  background-color: #bbdbf3;
  padding: 0px;
}

#link_btn_y li {
  font-size: 32px;
  color:#5b5b5b;
}


/* -----------------------------フッター部分ここまで ----------------------------------*/